.main {

}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    
}

.img-logo {
    width: 80px;
    height: 80px;
    padding: 5px;
}

.list > ul {
    display: flex;
}

.list > ul > li {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

.search-btn {
    margin-left: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    width: 200px;
    background-color: #f0f0f0;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.res-logo {
    width: 190px;
    height: 150px;
    padding: 5px;
}

.top-div {
    display: flex;
}

.filter-btn {
    margin: 20px 10px;
    cursor: pointer;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 200px;
    height: 400px;
    background-color: #f0f0f0;
    margin: 40px 5px;
}

.login-btn {
    padding: 0 20px;
    margin-right: 10px;
    cursor: pointer;
}